.footer {
  background-color: $header-footer-bg;
  padding: 2.5rem 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sitenav {
    &__list {
      display: flex;
      gap: 4rem;
    }

    &__link {
      color: $white-color;
      font-size: 1.3rem;
      line-height: 1.54;
    }
  }
}

.copy {
  padding: 1.5rem 0;
  background-color: $black-color;
  color: #777777;

  p {
    font-size: 1.2rem;
    line-height: 1.67;
  }
}
